@model Employee
@{
    ViewBag.Title = "Information om Anställd";
    string text = "-";
    string Start = "";
    string Stop = "";

    if (Model.Start != 0)
    {
        char[] startArray = Convert.ToString(Model.Start)!.ToCharArray();
        startArray![2] = ':';
        Start = new string(startArray)!;
    }
    if (Model.Stop != 0)
    {
        char[] stopArray = Convert.ToString(Model.Stop)!.ToCharArray();
        stopArray![2] = ':';
        Stop = new string(stopArray)!;
    }
}
<partial name="_QrGenerator" model="Model" />

<div style="position: absolute; left: 60rem; top: 3rem;">

    @if (Model.DayStamps!.Count() != 0)
    {
        string newStart = "";
        string newStop = "";

        <h4><u>Dina stämplingar:</u></h4>
        @foreach (var day in Model.DayStamps!)
        {
            char[] chars = Convert.ToString(day.Started)!.ToCharArray();
            chars![2] = ':';
            newStart = new string(chars)!;

            if (day.Stopped != 0)
            {
                char[] chars2 = Convert.ToString(day.Stopped)!.ToCharArray();
                chars2![2] = ':';
                newStop = new string(chars)!;
            }

            <h5>In: @day.Date - @newStart - Ut: @if(day.Stopped != 0) {@day.Date @text @newStop}</h5>
        }
    }
    else
    {
        <h4><u>Dina stämplingar:</u></h4>
        <h5>Finns inga stämplingar än</h5>
    }
</div>

<h3><u>Id:</u></h3>
<h4>@Model.Id</h4>
<br />
<h3><u>Namn:</u></h3>
<h4>@Model.Name</h4>
<br />
<h3><u>Email:</u></h3>
<h4>@Model.Email</h4>
<br />
<h3><u>Stämpling:</u></h3>
@if (Model.PunchedIn)
{
    <h4>Instämplad: @Start</h4>
}
else
{    
    @if (Model.Stop != 0) {<h4> Utstämplad: @Stop </h4>}
}
<br />
<a asp-controller="employee" asp-action="Salary" asp-route-id="@Model.Id">Kolla lön</a>

