@model Employee
@{
    ViewBag.Title = "Information om Anställd";
    string text = "_";
}
<partial name="_QrGenerator" model="Model" />

<div style="position: absolute; left: 60rem; top: 3rem;">

    @if (Model.DayStamps!.Count() != 0)
    {
        <h4><u>Dina stämplingar:</u></h4>
        @foreach (var day in Model.DayStamps!)
        {
            <h5>In: @day.Date _ @day.Started - Ut: @if(day.Stopped != 0) {@day.Date @text @day.Stopped}</h5>
        }
    }
    else
    {
        <h4><u>Dina stämplingar:</u></h4>
        <h5>Finns inga stämplingar än</h5>
    }
</div>

<h3>Id:</h3>
<h4>@Model.Id</h4>
<br />
<h3>Namn:</h3>
<h4>@Model.Name</h4>
<br />
<h3>Email:</h3>
<h4>@Model.Email</h4>
<br />
<h3>Instämplad:</h3>
<h4>In: @Model.Start</h4>
<h4>Ut: @Model.Stop</h4>
<br />
@if (Model.PunchedIn)
{
    <h4>Instämplad: @Model.Start</h4>
}
else
{
    <h4>Utstämplad: @Model.Stop</h4>
}
<base64></base64>

<a asp-controller="employee" asp-action="Salary" asp-route-id="@Model.Id">Kolla lön</a>

