@model Employee
@{
    ViewBag.Title = "Lönespec";    
}

<h3>Här visas din lönespec</h3>

<ul>
    <li>
        <h4>Anställnings nummer: @Model.Id</h4>
    </li>
    <li>
        <h4>Namn: @Model.Name</h4>
    </li>

    <li>
        <h4>Du har @Model.Salary kr/tim</h4>
    </li>
    <li>
        <h4> Arbetad tid: @Model.WorkedTime timmar</h4>
    </li>

</ul>
<br />

<hr />
<h4>Lön: @Model.MonthSalary kr</h4>